* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :activate {
  outline: none;
}

a:focus, a:activate {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Circe Regular';
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Extra Bold';
  src: url("../fonts/Circe-ExtraBold.eot");
  src: url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  max-width: 1366px;
  height: 100%;
  max-height: 1137px;
  background-color: #151515;
  color: white;
  font-family: 'Circe Regular';
  font-size: 16px;
}

.body__contaiber {
  margin: 35px 138px 227px 139px;
  display: flex;
  justify-content: space-between;
}

.hamburger-menu {
  display: none;
}

aside {
  max-width: 220px;
  max-height: 875px;
  background-color: #1D1C1C;
}

.aside-image img {
  display: inline-block;
  max-width: 220px;
  max-height: 293px;
  border: 1px solid #DB9351;
}

.aside__block {
  padding: 0 30px;
  border-bottom: solid 0.03125rem #242424;
}

.msg-block__tab {
  display: flex;
  padding-top: 49px;
  padding-bottom: 52px;
  height: 122.5px;
  justify-content: space-between;
}

.aside__tab_active {
  color: #DB9351;
  font-weight: bold;
}

.aside__tab {
  font-family: 'Circe Regular';
  font-size: 16px;
}

.profile-block {
  height: 168px;
  padding-top: 50px;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.administartion-block {
  height: 168px;
  padding-top: 49px;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buy-sub {
  padding: 0;
}

.buy-sub-button {
  max-width: 220px;
  width: 100%;
  height: 125px;
  background-color: #DB9351;
  color: white;
  font-weight: bold;
}

.main {
  width: 812px;
  max-height: 597px;
}

.main__header {
  display: flex;
  padding-bottom: 21px;
  justify-content: space-between;
}

.header__change {
  display: flex;
  margin-right: 92px;
}

.header__tab {
  font-size: 14px;
  font-family: 'Circe Regular';
  font-weight: normal;
  color: white;
  cursor: pointer;
}

.delete-button {
  color: #FF5B5C;
  padding-right: 18px;
}

.header__flter {
  display: flex;
  margin-right: 209px;
}

.header__tab_active {
  color: #DB9351;
  padding-right: 16px;
  cursor: pointer;
}

.archive-button {
  color: #959595;
  cursor: pointer;
}

.header__search {
  position: relative;
  border: 1px solid #DB9351;
}

.header__search input {
  cursor: pointer;
  width: 168px;
  height: 30px;
  background-color: #151515;
  color: white;
}

.header__search input:active, .header__search input:hover, .header__search input:focus {
  outline: 0;
  outline-offset: 0;
}

.search-button {
  color: #DB9351;
  background-color: #151515;
  width: 60px;
  height: 19px;
  position: absolute;
  top: 4px;
  right: 0px;
}

.search-button-svg {
  display: none;
}

.main__chats {
  display: flex;
  flex-direction: column;
}

.chats__item {
  display: flex;
  align-items: center;
  height: 59px;
  border-bottom: solid 0.03125rem #242424;
  cursor: pointer;
  position: relative;
}

.chats__item:hover {
  border-bottom: solid 0.03125rem #DB9351;
  border-top: solid 0.03125rem #DB9351;
}

.item__check {
  width: 16px;
  height: 16px;
  margin-right: 19px;
}

.item__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin-right: 16px;
}

.item__name {
  width: 142px;
  height: 21px;
  overflow: hidden;
  line-height: 24px;
  font-weight: bold;
  font-size: 16px;
  padding: auto;
  margin-right: 42px;
  text-decoration: underline;
}

.item__lock {
  position: absolute;
  top: 22px;
  left: 243px;
}

.item__text {
  width: 369px;
  height: 21px;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  background-color: #151515;
  background-image: linear-gradient(90deg, white, #151515);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 32px;
}

.item__date {
  margin-right: 19px;
  color: #959595;
  font-size: 16px;
  font-weight: normal;
}

.item__time {
  color: #959595;
  font-size: 16px;
  font-weight: normal;
}

.item__text_active {
  background-clip: content-box;
  -webkit-text-fill-color: white;
  background-image: none;
}

.item__date_active {
  color: white;
}

.item__time_active {
  color: white;
}

.main__pages {
  display: flex;
  margin: 50px  0 0 0;
  height: 24px;
  align-self: flex-end;
  justify-content: center;
  line-height: 24px;
}

.main__pages p {
  margin-right: 26px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

.main__pages p img {
  margin-top: 4px;
  width: 50px;
  height: 15px;
}

.main__pages p:last-child {
  margin-right: 0;
}

.main__page_active {
  min-width: 24px;
  height: 24px;
  color: #DB9351 !important;
  border-radius: 50%;
  border: 1px solid #DB9351;
  text-align: center;
  line-height: 24px;
}

@media (max-width: 1366px) {
  .body__contaiber {
    margin: 35px 5% 227px 5%;
    justify-content: space-around;
  }
}

@media (max-width: 1180px) {
  .body__contaiber {
    margin: 35px 2% 227px 2%;
  }
  .main {
    max-width: 720px;
  }
  .chats__item {
    width: auto;
  }
  .header__change, .header__flter {
    margin-right: 9%;
  }
  .item__check, .item__avatar, .item__name, .item__text, .item__date, .item__time {
    margin-right: 1%;
  }
  .item__lock {
    display: none;
  }
}

@media (max-width: 1000px) {
  .body__contaiber {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  aside {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    margin-bottom: 160px;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: flex;
    justify-content: space-between;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    z-index: 1;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #1D1C1C;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: .25s;
  }
  .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 55px;
    padding: 6px 6px;
    color: white;
    font-size: fs;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:last-child {
    padding: 6px 0;
  }
  .menu__item:hover {
    background-color: #DB9351;
  }
  .buy-sub-button {
    width: 145px;
    height: 55px;
  }
}

@media (max-width: 770px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 95%;
    min-width: 400px;
  }
  .menu__box {
    justify-content: space-around;
  }
  .main__header, .main__chats, .chats__item {
    align-items: center;
    justify-content: space-around;
    max-width: 95%;
    min-width: 400px;
  }
  .main__chats, .chats__item {
    width: 100%;
  }
  .item__check, .item__time, .settings, .questions, .contactus, .header__change {
    display: none;
  }
}

@media (max-width: 590px) {
  .hamburger-menu {
    margin-bottom: 40px;
  }
  .menu__box {
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 80%;
    margin: 0;
    padding: 80px 0;
  }
  .menu__item {
    margin: auto;
  }
  .settings, .questions, .contactus {
    display: flex;
  }
  .main, .main__header, .main__chats, .chats__item, .main__pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    min-width: 280px;
  }
  .main__header {
    justify-content: space-around;
  }
  .main__pages p {
    margin-right: 0;
  }
  .main__pages p:last-child {
    display: none;
  }
  .item__text {
    width: 75%;
    overflow: hidden;
  }
  .item__date, .header__search {
    display: none;
  }
}

@media (max-width: 415px) {
  body {
    padding: 0;
  }
  .body__contaiber {
    margin: 0;
    padding: 5px;
  }
  .main, .main__chats, .main__header, .main__pages {
    width: 99%;
  }
  .item__name, .item__text {
    font-size: 12px;
  }
  .item__avatar {
    display: none;
  }
}
